.container {
    display: flex;
    gap: 20px;
    background-color: gray;
    flex-wrap: wrap;
}
h3{
    color:green;
}
.row {
    flex: 1;
}
.img-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/*  * Clase para cambiar de color a blue a tres h3 */
.blue3{
    color: blue
}
/*    * id para cambiar de color a red a un h3 */
#red1{
    color: red
}